<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h1>B.day</h1>
        <h3>Sign up now!</h3>
        <a href="/auth/facebook">Facebook</a>
    </div>
</body>
</html>